mixin header()
  header.header
    .header__wrapper
      .wrapper
        .header__inner
          .header__container
            .header__logo
              img(src="images/logo-main.png" alt="logo" width="165" height="120").d-block
            .header__description.font-g-med Франшиза 
              br
              |коворкинг-пространства
          .header__decor.header__decor--1
            img(src="images/decor.svg" alt="logo" width="20" height="19").d-block
          .header__decor.header__decor--2
            img(src="images/decor.svg" alt="logo" width="20" height="19").d-block
